name: Unit tests

on: push

jobs:
  test:
      name: "PHPUnit: MW ${{ matrix.mw }}, PHP ${{ matrix.php }}"
      strategy:
        matrix:
          # multiple wikimedia versions can be put here along with php versions to test with
          include:
            - mw: 'REL1_35'
              php: 7.4
      runs-on: ubuntu-latest
      steps:
        # check out the extension repository
        - name: Checkout
          uses: actions/checkout@v3
        # run the action to install MediaWiki, PHP, Composer
        # and run PHPUnit tests
        - name: Mediawiki PHPUnit
          uses: Jonty16117/mediawiki-phpunit-action@v2
          with:
            php: ${{ matrix.php }}
            mwbranch: ${{ matrix.mw }}

